#campanas{
  columns: 3;
  column-gap: 2.5cm;
  border-top: 5px dotted #AB0BF5;
  border-left: 5px dashed #AAA0F0;
  border-right: 8px dashed #AAA0F0;
  border-bottom: 5px dotted #AB0BF5;

  column-rule: 9mm double green;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 25px;
  border-radius: 50px;
  box-shadow: 10px 10px 10px violet;
}
h3,h2,h1,h4,h5,h6{
color: #F50B78;
font-family: Comic Sans Ms;
text-shadow: 10px 10px 10px violet;
}
body{
  background: url('imagenes/sevilla_1562.JPG')top left/50% 50% no-repeat,
   url('imagenes/sevilla_1563.JPG')top right/50% 50% no-repeat,
   url('imagenes/sevilla_1564.JPG') bottom/100% 100% no-repeat;
background-attachment:fixed;
font-family: Verdana;
font-size: 14pt;
color: #95B796;
margin-left: 30px;
margin-top: 20px;
margin-right: 10px;
}
